*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my_h{
    height: 100%;
}

.my_h90{
    height: 90%;
}

.my_w100{
    width: 100%;
}

.my_w{
    width: 100%;
}

.my_w90{
    width: 90%;
}

.intestazione{
    height: 50px;
}

.intestazione_chat{
    height: 70px;
    width: 100%;
}

.corpo_chat{
    overflow-y: scroll;
    height: 560px;
    width: 100%;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
}

.corpo_contatti{
    overflow-y: scroll;
    height: 500px;
    width: 100%;
}

.notifiche_contatti{
    height: 90px;
    width: 100%;
    background-color: rgb(133, 208, 233);
}

.cerca_contatti{
    height: 40px;
    width: 100%;
}

.mybg_lightgrey{
    background-color: rgb(235, 235, 235);
}

.cerca_contatti_h{
    height: 70%;
}

.input_text{
    width: 80%;
}

i{
    font-size: 25px;
}

.my_w50p{
    width: 50px;
}

.my_h50p{
    height: 50px;
}

.my_h100p{
    height: 100px;
}

.messaggio_forma{
    border-radius: 20px;
}

.sent{
    background-color: green;
    margin: 20px 10px;  
    padding:0 15px;
    text-align: end; 
}

.received{
    background-color: white;
    margin: 20px 10px; 
    padding:0 15px;
}

.img_contatti{
    height:70px;
    margin:20px 0 ;
}

.tendina{
    display: none;
}

.active{
    display: block;
}

.my_margin30p{
    margin-left: 30px;
}

.my_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my_marginleftright{
    margin-right: 45px;
    margin-left: 18px;
}

.my_span{
    width: 320px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.lasttext{
    font-size: 10px;
    position: absolute;
    bottom: -15px;
    left: 19px;
}